:root {
    --theme-color: #FFB300;
    --color-dark: #111111;
    --color-white: #ffffff;
    --box-shadow: 0 0 40px 5px rgb(0 0 0 / 5%);
    --transition: all .5s ease-in-out;
}

.hero-section {
    position: relative;
    overflow: hidden;
}

.hero-single {
    padding-top: 180px;
    padding-bottom: 180px;
    background: rgba(255, 179, 0, .05);
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.hero-shape img {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    opacity: .1;
    max-width: 100%;
    width: 100%;
    transition: all 0.3s ease-out 0s;
}

.hero-single .hero-content {
    height: 100%;
}

.hero-single .hero-content .hero-sub-title {
    display: inline-block;
    color: var(--theme-color);
    font-size: 25px;
    letter-spacing: 6px;
    font-weight: 800;
    position: relative;
    text-transform: uppercase;
}

.hero-single .hero-title,
.hero-single p {
    color: var(--color-dark);
}

.hero-single .hero-content .hero-title {
    /* color: var(--color-white); */
    font-size: 60px;
    font-weight: 800;
    margin: 20px 0;
    text-transform: uppercase;
}

.hero-single .hero-title span {
    -webkit-text-stroke: 2px var(--theme-color);
    -webkit-text-fill-color: transparent;
}

.hero-single .hero-content .hero-title span {
    color: var(--theme-color);
}

.hero-single .hero-content p {
    /* color: var(--color-white); */
    line-height: 30px;
    font-weight: 400;
    margin-bottom: 20px;
}

.hero-single .hero-content .hero-btn {
    gap: 1rem;
    display: flex;
    margin-top: 35px;
    justify-content: start;
}

.theme-btn {
    font-size: 14px;
    color: var(--color-dark);
    padding: 14px 25px;
    transition: all 0.5s;
    text-transform: uppercase;
    position: relative;
    border-radius: 50px;
    font-weight: 600;
    letter-spacing: .5px;
    cursor: pointer;
    text-align: center;
    overflow: hidden;
    border: none;
    background: var(--theme-color);
    box-shadow: var(--box-shadow);
    z-index: 1;
}

.theme-btn::before {
    content: "";
    height: 300px;
    width: 300px;
    background: var(--color-dark);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%) scale(0);
    transition: 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    z-index: -1;
}

.theme-btn i {
    margin-left: 5px;
}

.theme-btn2 {
    background: var(--color-white);
    color: var(--color-dark);
}

.theme-btn2::before {
    background: var(--theme-color);
}

.hero-single .hero-img {
    position: relative;
    z-index: 1;
}

.hero-single .hero-img::before {
    content: "";
    position: absolute;
    border: 5px solid var(--theme-color);
    border-radius: 50px;
    width: 80%;
    height: 80%;
    right: -30px;
    top: -30px;
    z-index: -1;
}

.hero-single .hero-img img {
    border-radius: 50px;
    width: 100%;
}

.hero-single::after {
    content: "";
    position: absolute;
    width: 420px;
    height: 100%;
    background: var(--theme-color);
    opacity: .1;
    right: 0;
    top: 0;
    z-index: -2;
}

.theme-btn:hover {
    color: var(--color-white);
}

.theme-btn2:hover {
    color: var(--color-dark);
}

.theme-btn:hover::before {
    transform: translateY(-50%) translateX(-50%) scale(1);
}

.theme-btn2::before {
    background: var(--theme-color);
}

/* about section */
.py-120 {
    padding: 120px 0;
}

.about-left {
    position: relative;
}

.about-img img {
    border-radius: 15px;
    width: 100%;
}

.about-experience {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 10px;
    top: 0px;
    left: 0px;
    background: var(--color-dark);
    border-radius: 50px;
    padding: 10px 30px 10px 10px;
    color: var(--color-white);
    box-shadow: 0 0 40px 5px rgb(0 0 0 / 10%);
}

.about-experience-icon {
    color: var(--color-white);
    font-size: 45px;
    width: 70px;
    height: 70px;
    line-height: 63px;
    text-align: center;
    background: var(--theme-color);
    border-radius: 50px;
}

.about-experience-icon img {
    width: 50px;
    filter: brightness(0) invert(1);
}

.about-right {
    position: relative;
    display: block;
    padding-left: 30px;
}

.site-heading {
    margin-bottom: 50px;
    position: relative;
    z-index: 1;
}

.site-title-tagline {
    position: relative;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 18px;
    font-weight: 700;
    color: var(--theme-color);
}

.site-title-tagline::before {
    content: "";
    position: absolute;
    height: 10px;
    width: 100%;
    background: var(--theme-color);
    opacity: .2;
    left: -2px;
    bottom: 0;
}

.site-title {
    font-weight: 700;
    text-transform: capitalize;
    font-size: 45px;
    color: var(--color-dark);
    margin-bottom: 0;
}

.site-title span {
    color: var(--theme-color);
}

p {
    margin: 0px;
}

.about-list-wrapper {
    position: relative;
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
}

.about-list {
    position: relative;
    display: block;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.about-list li {
    position: relative;
    padding-left: 25px;
    margin-top: 10px;
    font-weight: 500;
}

.about-list li::before {
    content: "\f058";
    position: absolute;
    left: 0;
    top: 0;
    font-family: "Font Awesome 5 Free";
    color: var(--theme-color);
    font-weight: bold;
}
/* about section ends */

/* cta area  */
.cta-area {
    background: var(--theme-color);
    position: relative;
    padding: 120px 0;
    z-index: 1;
    overflow: hidden;
}

.cta-area::before {
    content: "";
    position: absolute;
    background-image: url('/css/assets/images/taxi-booking/shape-5.png');
    background-repeat: repeat-x;
    width: 100%;
    height: 50px;
    left: 0;
    top: 0;
    z-index: -1;
}

.cta-area::after {
    content: "";
    position: absolute;
    background-image: url('/css/assets/images/taxi-booking/shape-5.png');
    background-repeat: repeat-x;
    width: 100%;
    height: 50px;
    left: 0;
    bottom: -10px;
    z-index: -1;
}

.cta-divider {
    position: relative;
}

.cta-divider::before {
    position: absolute;
    content: close-quote;
    width: 2px;
    bottom: 0;
    background-color: var(--color-white);
    right: -118px;
    top: 0;
}

.cta-text h1 {
    color: var(--color-white);
    font-size: 50px;
    text-transform: capitalize;
    margin-bottom: 15px;
}

.cta-text p {
    color: var(--color-white);
}

.cta-divider:after {
    width: 0px;
    position: absolute;
    content: close-quote;
    height: 0px;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid var(--color-white);
    top: 50%;
    transform: translateY(-50%);
    right: -124px;
}

.mb-20 {
    margin-bottom: 20px;
}

.cta-number {
    font-size: 32px;
    color: var(--color-white) !important;
    font-weight: 700;
}

.cta-number i {
    margin-right: 15px;
}

.cta-btn .theme-btn {
    background: var(--color-dark);
    color: var(--color-white);
}

.theme-btn::before {
    content: "";
    height: 300px;
    width: 300px;
    background: var(--color-dark);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%) scale(0);
    transition: 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    z-index: -1;
}
/* cta area ends */

/* feature area */
.feature-area {
    position: relative;
    z-index: 1;
}

.heading-divider {
    display: inline-block;
    position: relative;
    border: 3px solid var(--theme-color);
    width: 90px;
    height: 10px;
    border-radius: 50px;
}

.heading-divider:after {
    content: '';
    position: absolute;
    left: 0;
    top: -1px;
    height: 7px;
    width: 15px;
    border-radius: 50px;
    background: var(--theme-color);
    -webkit-animation: heading-move 5s infinite linear;
    animation: heading-move 5s infinite linear;
}

.feature-item {
    padding: 25px 20px;
    text-align: center;
    position: relative;
    background: var(--color-white);
    border-radius: 15px;
    margin-bottom: 25px;
    overflow: hidden;
    box-shadow: var(--box-shadow);
    transition: var(--transition);
    z-index: 1;
}

.feature-icon {
    width: 100px;
    height: 100px;
    line-height: 85px;
    border-radius: 50px;
    margin: 0 auto 20px auto;
    border: 5px solid var(--color-dark);
    background: var(--theme-color);
    transition: var(--transition);
}

.feature-icon img {
    width: 55px;
}
/* feature area ends */

/* counter area */
.counter-area {
    position: relative;
    z-index: 2;
}

.counter-wrapper {
    background-image: url('/css/assets/images/taxi-booking/shape-3.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: -150px;
    border-radius: 30px;
    box-shadow: var(--box-shadow);
}

.counter-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    position: relative;
    z-index: 1;
}

.counter-box .icon {
    position: relative;
    text-align: center;
    font-size: 60px;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    line-height: 100px;
    color: var(--color-white);
    border: 5px solid var(--color-white);
    background: var(--theme-color);
    z-index: 1;
}

.counter-box .icon img {
    width: 70px;
}

.counter-box .counter {
    display: block;
    line-height: 1;
    color: var(--color-white);
    font-size: 50px;
    font-weight: 600;
}

.counter-box .title {
    color: var(--color-white);
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
}
/* counter area ends */

/* choose area */
.choose-area {
    position: relative;
    background: var(--color-dark);
    z-index: 1;
}

.choose-area::before {
    content: "";
    position: absolute;
    background-image: url('/css/assets/images/taxi-booking/shape-6.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0.04;
    z-index: -1;
}

.choose-item {
    display: flex;
    gap: 15px;
    position: relative;
    background: var(--color-white);
    border-radius: 25px;
    margin-bottom: 25px;
    padding: 20px;
    box-shadow: var(--box-shadow);
    z-index: 1;
}

.choose-count {
    position: absolute;
    right: 20px;
    top: -10px;
    font-size: 50px;
    font-weight: 800;
    -webkit-text-stroke: 1px var(--theme-color);
    -webkit-text-fill-color: transparent;
    z-index: -1;
}

.choose-item-icon {
    width: 90px;
    height: 90px;
    line-height: 80px;
    background: var(--theme-color);
    color: var(--color-white);
    font-size: 45px;
    border-radius: 50px;
    margin-bottom: 15px;
    text-align: center;
}

.choose-item-icon img {
    width: 55px;
}

.choose-item-info {
    flex: 1;
}

.choose-item-info h3 {
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 600;
}

.my-120 {
    margin: 120px 0;
}
/* choose area ends */

/* faq area */
.faq-img img {
    border-radius: 15px;
    width: 100%;
}

.faq-area .accordion-item {
    border: none;
    margin-bottom: 30px;
    background: var(--color-white);
    border-radius: 12px !important;
    box-shadow: var(--box-shadow);
}

.accordion-button {
    border-radius: 0px !important;
    background: transparent;
    font-weight: 700;
    font-size: 20px;
    color: var(--color-dark);
    box-shadow: none !important;
}

.accordion-button::after {
    color: var(--color-dark);
}

.accordion-header {
    margin-bottom: 0;
}

.faq-area .accordion-button:not(.collapsed) {
    color: var(--theme-color);
    background: transparent;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

.faq-area .accordion-item span {
    width: 45px;
    height: 45px;
    margin-right: 15px;
}

.faq-area .accordion-item i {
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 50px;
    background: var(--theme-color);
    text-align: center;
    color: var(--color-white);
}

.accordion-button:not(.collapsed) {
    border-bottom: 1px solid var(--theme-color);
}
/* faq area ends */

/* download area */
.download-area {
    position: relative;
}

.download-wrapper {
    position: relative;
    background-image: url('/css/assets/images/taxi-booking/shape-7.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    padding: 40px;
    overflow: hidden;
    z-index: 1;
}

.download-btn {
    display: flex;
    gap: 15px;
}

.download-btn a {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px 20px;
    background: var(--theme-color);
    color: var(--color-white);
    border-radius: 50px;
    box-shadow: var(--box-shadow);
}

.download-btn a:first-child {
    background: var(--theme-color);
}

.download-btn a:last-child {
    background: var(--color-dark);
}

.download-btn a i {
    font-size: 40px;
}

.download-btn-content {
    display: flex;
    flex-direction: column;
}

.download-btn-content span {
    font-weight: 500;
    font-size: 14px;
}

.download-img {
    position: absolute;
    right: 0px;
    bottom: -30px;
    width: 55%;
}

@media (max-width: 1199px) {
    .hero-single .hero-content .hero-title {
        font-size: 37px;
    }

    .feature-area {
        margin-top: -20px;
    }
}

@media (max-width: 991px) {
    .hero-single {
        padding-top: 220px;
    }

    .hero-single .hero-content .hero-title {
        font-size: 50px;
    }

    .hero-single .hero-img {
        margin-top: 80px;
    }

    .about-right {
        margin-top: 30px;
    }

    .counter-area .counter-box {
        margin: 40px 0;
    }

    .choose-content-wrapper {
        margin-top: 40px;
    }

    .faq-right {
        margin-bottom: 50px;
    }

    .download-img {
        position: relative;
        right: 35px;
        width: 150%;
    }
}

@media (max-width: 767px) {
    .hero-single .hero-content .hero-sub-title {
        font-size: 18px;
    }

    .hero-single .hero-content .hero-btn {
        gap: 1rem;
    }

    .hero-single .hero-img {
        margin-top: 80px;
    }

    .counter-area .counter-box {
        margin: 40px 0;
    }

    .choose-item {
        flex-direction: column;
    }

    .download-btn {
        flex-direction: column;
    }
}